.circle {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 70%;
    left: 50%;
    margin: -250px 0 0 -250px;
    background: #ffffff;
    border-radius: 50%; /* Changed from 80% to 50% to make it a perfect circle */
    backface-visibility: hidden;
    filter: blur(500px);
  }
  